/******************************************************/
/*****************     GAME     ***********************/
/******************************************************/


/*****************    GAME - ZONE DE COMPTAGE DES POINTS     *****************/
.roundCount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 20px !important;
}

.rounds-players {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 200px; 
    transition: all 1000ms ease;
    
}

.rounds-player1 {
    margin-left: 60px !important;
}

.rounds-player2 {
    margin-right: 60px !important;
}

.round-player {
    height: 45px;
    width: 45px;
    border: 2px solid white;
    border-radius: 50%; 
    margin: 10px !important;
    transition: all 1000ms ease;
}

.roundTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 10px !important;
}

.roundTitle-title {
    color: white;
    font-family: Bebas Neue;
    -webkit-text-stroke: 3px #252D42;
    font-size: 4em;
    transition: all 1000ms ease;
}

.fight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fight-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #252D42;
    border-radius: 20px;
}

.fight-player1 {
    margin-left: 300px !important;
    transition: all 1000ms ease;
}

.fight-player2 {
    margin-right: 300px !important;
    transition: all 1000ms ease;
}

.fight-player-img {
    width: 350px;
    border-radius: 20px;
    border: 2px solid white;
    transition: all 1000ms ease;
}

.fight-player-powerStats {
    color: #252D42;
    font-weight: bold;
    font-family: Bebas Neue;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#powerStats-select {
    color: #252D42;
    padding: 20px;
    border-radius: 20px;
}

.fight-player2-powerStats-p {
    background-color: white;
    border: 1px solid #252D42;
    border-radius: 20px;
    font-size: 0.8em;
    padding: 2px 10px !important;
}


#btnFight {
    color: #252D42;
    font-weight: bold;
    font-family: Bebas Neue;
    font-size: 1.5em;
    width: 100px;
    height: 100px;
    border: 2px solid #252D42;
    border-radius: 50%;
    transform: scale(1);
    transition: all 1000ms ease;
}

#btnFight:hover {
    color: white;
    background-color: #252D42;
    border: 2px solid white;
    transform: scale(1.5);
    transition: all 1000ms ease;
}

/*****************    MEDIA QUERIES GAME     *****************/
@media screen and (max-width: 1600px) {
    .fight-player1 {
        margin-left: 250px !important;
        transition: all 1000ms ease;
    }
    
    .fight-player2 {
        margin-right: 250px !important;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 1500px) {
    .fight-player1 {
        margin-left: 200px !important;
        transition: all 1000ms ease;
    }
    
    .fight-player2 {
        margin-right: 200px !important;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 1400px) {
    .rounds-player1 {
        margin-left: 50px !important;
        transition: all 1000ms ease;
    }
    
    .rounds-player2 {
        margin-right: 50px !important;
        transition: all 1000ms ease;
    }
    
    .fight-player1 {
        margin-left: 150px !important;
        transition: all 1000ms ease;
    }
    
    .fight-player2 {
        margin-right: 150px !important;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 1300px) {
    .rounds-player1 {
        margin-left: 40px !important;
        transition: all 1000ms ease;
    }
    
    .rounds-player2 {
        margin-right: 40px !important;
        transition: all 1000ms ease;
    }
    
    .fight-player1 {
        margin-left: 100px !important;
        transition: all 1000ms ease;
    }
    
    .fight-player2 {
        margin-right: 100px !important;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 1100px) {
    .rounds-player1 {
        margin-left: 20px !important;
        transition: all 1000ms ease;
    }
    
    .rounds-player2 {
        margin-right: 20px !important;
        transition: all 1000ms ease;
    }   

    .fight-player1 {
        margin-left: 50px !important;
        transition: all 1000ms ease;
    }
    
    .fight-player2 {
        margin-right: 50px !important;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 1000px) {
    .rounds-player1 {
        margin-left: 10px !important;
        transition: all 1000ms ease;
    }
    
    .rounds-player2 {
        margin-right: 10px !important;
        transition: all 1000ms ease;
    }

    .fight-player1 {
        margin-left: 30px !important;
        transition: all 1000ms ease;
    }
    
    .fight-player2 {
        margin-right: 30px !important;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 900px) {
    .fight-player-img {
        width: 300px;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 800px) {
    .rounds-players {
        width: 175px; 
        transition: all 1000ms ease;
    }
    
    .round-player {
        height: 40px;
        width: 40px;
        transition: all 1000ms ease;
    }

    .roundTitle-title {
        font-size: 3.5em;
        transition: all 1000ms ease;
    }

    #btnFight {
        font-size: 1.2em;
        width: 80px;
        height: 80px;
        transition: all 1000ms ease;
    }
    
    .fight-player-img {
        width: 250px;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 700px) {
    .rounds-players {
        width: 150px; 
        transition: all 1000ms ease;
    }
    
    .round-player {
        height: 35px;
        width: 35px;
        margin: 5px !important;
        transition: all 1000ms ease;
    }

    .roundTitle-title {
        font-size: 3em;
        transition: all 1000ms ease;
    }

    #btnFight {
        font-size: 1.1em;
        width: 75px;
        height: 75px;
        transition: all 1000ms ease;
    }
    
    .fight-player-img {
        width: 200px;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 600px) {
    .rounds-players {
        width: 125px; 
        transition: all 1000ms ease;
    }
    
    .round-player {
        height: 30px;
        width: 30px;
        margin: 5px !important;
        transition: all 1000ms ease;
    }

    .roundTitle-title {
        font-size: 2.5em;
        transition: all 1000ms ease;
    }

    #btnFight {
        font-size: 1em;
        width: 70px;
        height: 70px;
        transition: all 1000ms ease;
    }
    
    .fight-player-img {
        width: 175px;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 550px) {
    .rounds-players {
        width: 100px; 
        transition: all 1000ms ease;
    }
    
    .round-player {
        height: 25px;
        width: 25px;
        margin: 5px !important;
        transition: all 1000ms ease;
    }

    #btnFight {
        font-size: 1em;
        width: 65px;
        height: 65px;
        transition: all 1000ms ease;
    }
    
    .fight-player-img {
        width: 150px;
        transition: all 1000ms ease;
    }

    .fight-player-powerStats {
        font-size: 0.7em;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 500px) {
    .rounds-player1 {
        margin-left: 5px !important;
        transition: all 1000ms ease;
    }
    
    .rounds-player2 {
        margin-right: 5px !important;
        transition: all 1000ms ease;
    }

    .fight-player1 {
        margin-left: 10px !important;
        transition: all 1000ms ease;
    }
    
    .fight-player2 {
        margin-right: 10px !important;
        transition: all 1000ms ease;
    }

}

@media screen and (max-width: 450px) {
    .fight-player-img {
        width: 125px;
        transition: all 1000ms ease;
    }

    .fight-player-powerStats {
        font-size: 0.5em;
        transition: all 1000ms ease;
    }

}
