/****************************************************/
/*****************    SELECTION     *****************/
/****************************************************/

.selectedHero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px !important;
}

.selectedHero-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #252D42;
    border-radius: 20px;
    background-color: white;
    border: none;
}

.selectedHero-player1 {
    margin-left: 400px !important;
    transition: all 1000ms ease;

}

.selectedHero-player2 {
    margin-right: 400px !important;
    transition: all 1000ms ease;
}

.selectedHero-player-img {
    width: 250px;
    border-radius: 20px;
    border: 2px solid white;
}

.selectedHero-player-powerStats {
    display:flex;
    justify-content: space-between;
    width:80%;
    color: #252D42;
    font-weight: bold;
    font-family: Bebas Neue;
    font-size: 1em;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.selectedHero-player2-powerStats {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectedHero-player-powerStats-list
{
    list-style-type: none;
}

.selectedHero-player-powerStats-liste1 {
    padding-right: 5px;
}

.selectedHero-player-powerStats-liste2 {
    padding-left: 5px;
}

.selectedHero-bet {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.selectedHero-VS {
    color: white;
    font-family: Bebas Neue;
    -webkit-text-stroke: 3px #252D42;
    font-size: 4em;
}

#bet {
    border: 2px solid #252D42;
    border-radius: 10px;
    text-align: center;
}

.betLauncher {
    margin-top: 20px !important;
}

#btnBet {
    color: #252D42;
    font-weight: bold;
    font-family: Bebas Neue;
    font-size: 1.5em;
    width: 60px;
    height: 60px;
    border: 2px solid #252D42;
    border-radius: 50%;
    transform: scale(1);
    transition: all 1000ms ease;
}

#btnBet:hover {
    color: white;
    background-color: #252D42;
    border: 2px solid white;
    transform: scale(1.5);
    transition: all 1000ms ease;
}

.selectionHero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px !important;
}

.grid-heroes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 80px;
    transition: all 1000ms ease;
}

.grid-heroes-div-img {
    border: 2px solid #252D42;
    border-radius: 20px;
    cursor: pointer;
    transition: all 200ms ease-out;
    border: none;
}
.grid-heroes-div-img:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 105px 45px rgba(255,255,255,1);
    border: none;

}

.grid-heroes-img {
    height: 170px;
    border: 2px solid white;
    border-radius: 20px;
}


/*****************    MEDIA QUERIES SELECTION     *****************/
@media screen and (max-width: 1700px) {
    .selectedHero-player1 {
        margin-left: 300px !important;
        transition: all 1000ms ease;
    }
    
    .selectedHero-player2 {
        margin-right: 300px !important;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 1600px) {
    .selectedHero-player1 {
        margin-left: 250px !important;
        transition: all 1000ms ease;
    }
    
    .selectedHero-player2 {
        margin-right: 250px !important;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 1500px) {
    .selectedHero-player1 {
        margin-left: 200px !important;
        transition: all 1000ms ease;
    }
    
    .selectedHero-player2 {
        margin-right: 200px !important;
        transition: all 1000ms ease;
    }

    .grid-heroes {
        column-gap: 70px;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 1400px) {
    .selectedHero-player1 {
        margin-left: 150px !important;
        transition: all 1000ms ease;
    }
    
    .selectedHero-player2 {
        margin-right: 150px !important;
        transition: all 1000ms ease;
    }

    .grid-heroes {
        column-gap: 60px;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 1300px) {
    .selectedHero-player1 {
        margin-left: 100px !important;
        transition: all 1000ms ease;
    }
    
    .selectedHero-player2 {
        margin-right: 100px !important;
        transition: all 1000ms ease;
    }

    .grid-heroes {
        column-gap: 50px;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 1200px) {
    .selectedHero-player1 {
        margin-left: 50px !important;
        transition: all 1000ms ease;
    }
    
    .selectedHero-player2 {
        margin-right: 50px !important;
        transition: all 1000ms ease;
    }

    .grid-heroes {
        column-gap: 40px;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 1100px) {
    .selectedHero-player1 {
        margin-left: 40px !important;
        transition: all 1000ms ease;
    }
    
    .selectedHero-player2 {
        margin-right: 40px !important;
        transition: all 1000ms ease;
    }

    .grid-heroes {
        column-gap: 30px;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 1000px) {
    .selectedHero-player1 {
        margin-left: 30px !important;
        transition: all 1000ms ease;
    }
    
    .selectedHero-player2 {
        margin-right: 30px !important;
        transition: all 1000ms ease;
    }

    .grid-heroes {
        column-gap: 15px;
        transition: all 1000ms ease;
    }
}

@media screen and (max-width: 900px) {
    .selectedHero-player1 {
        margin-left: 20px !important;
        transition: all 1000ms ease;
    }
    
    .selectedHero-player2 {
        margin-right: 20px !important;
        transition: all 1000ms ease;
    }

    .grid-heroes {
        column-gap: 10px;
        transition: all 1000ms ease;
    }
}
@media (max-width:800px){

    .selectedHero{
        width: 100%;
        
    }
    .selectedHero-player1{
        width:400px;
    }
    .grid-heroes-div-img{
        height: 100%;
        padding: 5rem;

    }
    .grid-heroes-div-img img{
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: contain;
    }
    .selectedHero-player-img{
        width: 100%;
    }
    
}